################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TaskManagement/.vs
/TaskManagement/TaskManagement/bin/Debug/net8.0
/TaskManagement/TaskManagementUnitTest/bin/Debug/net8.0
/TaskManagement/TaskManagementUnitTest/obj
/TaskManagement/TaskManagement/obj


/AdvancedMathHelper/.vs
/AdvancedMathHelper/AdvancedMathHelper/bin/Debug/net8.0
/AdvancedMathHelper/AdvancedMathHelperUnitTests/bin/Debug/net8.0
/AdvancedMathHelper/AdvancedMathHelperUnitTests/obj
/AdvancedMathHelper/AdvancedMathHelper/obj
